body {
  background: linear-gradient(to bottom right, #BAEEFF 0%,#87E0FD 20%,#23BAEB 65%,#053EE0 100%);
  font-family: sans-serif;
}

#puzzle {
  margin: auto;
  width:472px;
  height:472px;
  border: solid 1px;
  background-color: #FFF;
}
.column {
  width: 50px;
  height: 50px;
  float:left;
}
.clear {
  clear: both;
  width: 0;
  height: 0;
}

.column {
  border: solid 1px;
}
.column:nth-child(3n+1) {
  border-left: solid 2px;
}
.row:nth-child(3n+1) {
  border-top: solid 1px;
}
.column:nth-child(9) {
  border-right: solid 2px;
}
.row:nth-child(9) {
  border-bottom: solid 1px;
}

.column {
  font-size: 30px;
  text-align:center;
  line-height:50px;
  padding:auto;
}

.inputCell {
	width: 50px;
	height: 50px;
	padding: 0;
	border: 0;
}

h1, h3 {
  width: 600px;
  text-align:center;
  margin:30px auto;
  color: #2F5B85;
}
#intro {
  margin:60px;
}
table {
	width: 450px;
	margin: auto;
	margin-top: 30px;
	border-collapse: collapse;
}
th, td {
	text-align: center;
}
th {
	background-color: #1E90FF;
	color: #FFF;
	font-size: 1.3em;
}
tr {
	background-color: #FFF;
	border-bottom: 1px solid #DDD;
}
tr:nth-child(2) {
	font-weight: bold;
}
tr:hover {
	background-color: #F5F5F5;
}
.tableHeader {
	
}
.tableRow {
	
}
#rules {
  width: 600px;
  margin: 60px auto;
}
#rules p:last-child {
  font-weight: bold;
}
